<body>
    <p>We regret to inform you that your shipment has been cancelled. If you did not request this cancellation, please
        contact our customer support team for assistance. Use the below link
        to track your order.</p>
    <a href="http://localhost:8000/shipmentv3/track?id={{ id }}"
        style="color: #8a2be2;background-color: #e6d2f9;font-size: 16px;padding: .5em 1em;border-radius: .45em;margin-top: 1em;display: block;width: fit-content;"
    >Track Now</a>
    <br></p>
    <br>
        <br>
            <p>Powered by Ventuno</p>
        </body>