<body>
    <p>Our deliver executive is on his way to deliver your shipment. Please ensure you are available at the delivery
        location and answer to rider's incoming call. Use the below link
        to track your order.</p>
        <a href="http://localhost:8000/shipmentv3/track?id={{ id }}"
        style="color: #8a2be2;background-color: #e6d2f9;font-size: 16px;padding: .5em 1em;border-radius: .45em;margin-top: 1em;display: block;width: fit-content;"
        >Track Now</a>
        <br></p>
    <br>
    <br>
    <p>Powered by Ventuno</p>
</body>