<body>
    <p>We're delighted to have delivered your order with {{ seller }}.
        Your package has been collected by you. Use the below link
        to track your order.</p>
    <a href="http://localhost:8000/shipmentv3/track?id={{ id }}"
        style="color: #8a2be2;background-color: #e6d2f9;font-size: 16px;padding: .5em 1em;border-radius: .45em;margin-top: 1em;display: block;width: fit-content;">Track
        Now</a>
    <br></p>

    <p>Please submit a review using the below link:</p>

    <a href="{{ review_url }}"
        style="color: #8a2be2;background-color: #e6d2f9;font-size: 16px;padding: .5em 1em;border-radius: .45em;margin-top: 1em;display: block;width: fit-content;">
        Submit Review 🗳️

    </a>
    <br>
    <br>
    <br>
    <p>Powered by Ventuno</p>
</body>